<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
	
  <display-name>DealOfTheDay</display-name>
  
  <!-- Register Servlets -->
  <servlet>
	<servlet-name>Home</servlet-name>
	<servlet-class>Controller.Home</servlet-class>	
  </servlet>
  
  	
  <!-- Map Servlets -->	
  <servlet-mapping>
	  <servlet-name>Home</servlet-name>
	  <url-pattern>/Home.go</url-pattern>	
  </servlet-mapping>	
  
  
  <welcome-file-list>
    <welcome-file>Home.go</welcome-file>
  </welcome-file-list>
</web-app>